body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-color: whitesmoke;
  margin-left: 20%;
  margin-right: 20%;
  height: 800px;
}
.menu {
  margin-left: 13%;
  display: flex;
  justify-content: space-between;
}
.carsContent, .shoesContent, .fruitsContent {
  display: flex; /* Enables Flexbox for card content */
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center; /* Optional: Aligns text */
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none; /* Hides content */
}
.hidden {
  display: none; /* Hides content */
}

.menu-button {
  padding: 4px;
  background-color: teal;
  border-radius: 20px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.menu-button:hover {
  background-color: darkcyan;
}

.menu {
  margin-left: 13%;
  display: flex;
  justify-content: space-between;
}
