body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-color: whitesmoke;
  margin-left: 20%;
  margin-right: 20%;
  height: 800px;
}
.menu {
  margin-left: 13%;
  display: flex;
  justify-content: space-between;
}
.carsContainer {
  display: grid; /* Enables Grid layout */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 16px; /* Space between grid items */
  padding: 16px;
}
.carsContent {
  display: flex; /* Enables Flexbox for card content */
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center; /* Optional: Aligns text */
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
.shoesContainer {
  display: grid; /* Enables Grid layout */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 16px; /* Space between grid items */
  padding: 16px;
}
.shoesContent {
  display: flex; /* Enables Flexbox for card content */
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center; /* Optional: Aligns text */
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
.fruitsContainer {
  display: grid; /* Enables Grid layout */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 16px; /* Space between grid items */
  padding: 16px;
}
.fruitsContent {
  display: flex; /* Enables Flexbox for card content */
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center; /* Optional: Aligns text */
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
